* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav-menu__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#about-me h1 {
    /* Force google chrome to render a color emoji */
    font-weight: 100;
}

#about-me img {
    width: 400px;
}

.contact-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

pre, .code {
    text-align: justify;
}

.projects {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    flex-wrap: nowrap;
}

.project-link {
    text-decoration: none;
    color: black;
}

.project-card {
    border: 2px solid black;
}

.project-card__img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.education-list {
    list-style-type: none;
}

.footer-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-link img {
    width: 200px;
    object-fit: contain;
}

.footer-link i {
    font-size: 4.625rem;
}