* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

a:hover {
    color: blueviolet;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-menu__list {
    margin: 32px 0;
    height: 32px;
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.section__header {
    margin-bottom: 2rem;
}

#about-me h1 {
    /* Force google chrome to render a color emoji */
    font-weight: 100;
    display: inline;
    margin-bottom: 1rem;
}

#about-me img {
    transition: transform .2s;
    width: 400px;
    margin-bottom: 0.5rem;
}

#about-me img:hover {
    transform: scale(1.05);
}

#name {
    margin-bottom: 1.5rem;
}

.emphasize {
    color: blueviolet;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: left;
}


.icon-wrapper i {
    font-size: 3rem;
    vertical-align: bottom;
}

.list__link, .list__item {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px blueviolet;
}

.list__item:hover .icon-description {
    color: blueviolet;
}

.icon-wrapper {
    width: 200px;
    text-align: center;
    min-height: 100%;
    background-color: blueviolet;
    padding: 1rem;
    color: white;
    text-align: center;
}

.icon-description {
    background-color: rgba(255,255,255,0.9);
    flex-basis: 80%;
    text-align: center;
}

.skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    justify-content: center;
}

.skills-list__item {
    box-shadow: blueviolet 0px 25px 20px -20px;
}

pre, .code {
    text-align: justify;
    font-size: 16px;
}

pre {
    border: 2px solid blueviolet;
    padding: .75rem;
    transition: box-shadow .5s ease-out;
}

pre:hover {
    box-shadow: rgba(137, 43, 226, 0.4) 0px 4px 16px, rgba(137, 43, 226, 0.4)  0px 8px 24px, rgba(137, 43, 226, 0.4)  0px 16px 56px;
}

.projects {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    flex-wrap: nowrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(137, 43, 226, 0.4) 0px 4px 16px, rgba(137, 43, 226, 0.4)  0px 8px 24px, rgba(137, 43, 226, 0.4)  0px 16px 56px;
    width: 300px;
}

.project-card__img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.project-card__title {
    background-color: blueviolet;
    color: white;
    padding: .5rem;
}

.education-list {
    text-align: center;
}

.footer-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-link img {
    width: 200px;
    object-fit: contain;
}

.footer-link i {
    font-size: 4.625rem;
}