* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav-menu__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#about-me h1 {
    /* Force google chrome to render a color emoji */
    font-weight: 100;
}

#about-me img {
    width: 400px;
}

.contact-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
